html {
  min-width: fit-content;
  min-height: fit-content;
  width: 100dvw;
  height: 100dvh;
}

body {
  min-width: fit-content;
  min-height: fit-content;
  margin: 0%;
  background-color: #666666;
  display: flex;
  flex-direction: column;
  
  height: 100%;
  width: 100%;
}

#error_div {
  display: none;
  white-space: pre-wrap;
  height: fit-content;
  display: none;
  width: 100%;
  padding: 5px;
  background-color: #cc0000;
}

#error_div.active {
  display: unset;
}

#page_header {
  background-color: #00000040;
}

#page_content {
  margin: 10px;
}

#page_footer {
  background-color: #00000040;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.page_divider {
  display: none;
}

* {
  image-rendering: pixelated;
}

