.navbar {
  width: 100%;
  table-layout: fixed;
}

.navbar tbody {
  width: 100%;
}

.navbar_item {
  width: 10%;
  padding: 10px;
  background-color: #f9a14777;
}

.navbar_active {
  background-color: #f9a147ff;
}


