.navbar {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.navbar tbody {
  width: 100%;
}

.navbar_item {
  width: 10%;
  background-color: #f9a14777;
  padding: 0%;
}

.navbar_item > * {
  display: block;
  padding: 10px;
}

.navbar_active {
  background-color: #f9a147ff;
}


