#define CURRENT_NAVITEM NAVBAR_ITEM_GALLERY

#if !defined(POST_YEAR) || !defined(POST_MONTH) || !defined(POST_DAY) || !defined(POST_TITLE) || !defined(POST_IMG_URL) || !defined(POST_IMG_WIDTH) || !defined(POST_IMG_HEIGHT)
# error "Metadata is not filled"
#endif

#if POST_MONTH == 1
# define POST_MONTH_STR Jan
#elif POST_MONTH == 2
# define POST_MONTH_STR Feb
#elif POST_MONTH == 3
# define POST_MONTH_STR Mar
#elif POST_MONTH == 4
# define POST_MONTH_STR Apr
#elif POST_MONTH == 5
# define POST_MONTH_STR May
#elif POST_MONTH == 6
# define POST_MONTH_STR Jun
#elif POST_MONTH == 7
# define POST_MONTH_STR Jul
#elif POST_MONTH == 8
# define POST_MONTH_STR Aug
#elif POST_MONTH == 9
# define POST_MONTH_STR Sep
#elif POST_MONTH == 10
# define POST_MONTH_STR Oct
#elif POST_MONTH == 11
# define POST_MONTH_STR Nov
#elif POST_MONTH == 12
# define POST_MONTH_STR Dec
#else
# error "Unknown month"
#endif

#define POST_DATE POST_DAY POST_MONTH_STR POST_YEAR

#define POST_STRINGIFY_INNER(x) #x
#define POST_STRINGIFY(x) POST_STRINGIFY_INNER(x)

<!DOCTYPE html>
<html>
  <head>
    <title>POST_DATE - POST_TITLE</title>
    #include "common_metadata.html"
    <link href=PREFIX_SITE_ROOT("/css/pages/gallery_common.css") rel="stylesheet" blocking="render" />
    <link href=PREFIX_SITE_ROOT("/css/pages/gallery_post.css") rel="stylesheet" blocking="render" />
    <meta property="og:title" content=POST_STRINGIFY(POST_TITLE) />
    <meta property="og:image" content=PREFIX_SITE_HOST_ROOT(POST_IMG_URL) />
    <meta property="og:image:width" content=POST_IMG_WIDTH />
    <meta property="og:image:height" content=POST_IMG_HEIGHT />
    <meta property="og:type" content="website" />
    
    #ifdef POST_SHORT_DESCRIPTION
    <meta property="og:description" content=POST_SHORT_DESCRIPTION />
    #endif
  </head>
  
  <body>
    #include "page_header.html"
    
    #define ART_ADDR_BAR_YEAR POST_YEAR
    #define ART_ADDR_BAR_MONTH POST_MONTH
    #define ART_ADDR_BAR_DAY POST_DAY
    #define ART_ADDR_BAR_TITLE POST_TITLE
    #include "art_addr_bar.html"
    <div id="post">
      <img src=POST_IMG_URL height=POST_IMG_HEIGHT width=POST_IMG_WIDTH /><br>
      <div id="post_content">
        <table class="button_container">
          #ifdef POST_NEXT_LINK
          <th><a class="button_like" href=POST_NEXT_LINK><table><th>Newer</th></table></a></th>
          #else
          <th><div class="button_like_disabled button_like"><table><th>Newer</th></table></div></th>
          #endif
          <th><a class="button_like" href=POST_IMG_URL><table><th>Original resolution</th></table></a></th>
          #ifdef POST_PREV_LINK
          <th><a class="button_like" href=POST_PREV_LINK><table><th>Older</th></table></a></th>
          #else
          <th><div class="button_like_disabled button_like"><table><th>Older</th></table></div></th>
          #endif
        </table>
        <table style="text-align: left;">
          <tr>
            <th>Title</th>
            <td>POST_TITLE</td>
          </tr>
          <tr>
            <th>Posted on</th>
            <td>POST_DATE</td>
          </tr>
          <tr>
            <th>By</th>
            <td>Foxie Flakey!</td>
          </tr>
        </table>

