      </div> <!-- For id="post_content" -->
    </div> <!-- For id="post" -->
#ifndef POST_EMBEDDING
    <hr>
    <h1>Comment and talks here :3 Powered by <a href="https://giscus.app">Giscus</a></h1>
    Differing content? then look find it <a href="https://github.com/FoxieFlakey/foxieflakey.github.io/discussions">here</a>, each instance has own GitHub discussion ^w^<br>
    <script src="https://giscus.app/client.js"
        data-repo="FoxieFlakey/foxieflakey.github.io"
        data-repo-id="R_kgDOLoNF_A"
        data-category=GISCUS_CATEGORY_NAME
        data-category-id=GISCUS_CATEGORY_ID
        data-mapping="title"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="dark"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
    </script>
    #include "page_footer.html"
  </body>
</html>
#endif

