<x-template name="x-base-metadata">
  <meta charset="utf-8" />
  <meta name="theme-color" content="#f9a147" />
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0" />
  <link href="$root/css/global.css" rel="stylesheet" />
  <link href="$root/favicon.ico" rel="icon" />
</x-template>

<x-template name="x-page">
  <!-- Page header -->
  <div id="page_header">
    <x-navbar />
  </div>
  
  <!-- Page content -->
  <hr class="no_css" />
  <div id="page_content">
    ${children}
  </div>
  
  <div style="flex: 1;"></div>
  <hr class="no_css" />
  
  <!-- Page footer -->
  <div id="page_footer">
    Site made with love by MEEE &lt;3<br />
    Copyright 2025<br />
  </div>
</x-template>


