<x-template name="x-popup-headers">
  <link href="$root/css/popup.css" rel="stylesheet" blocking="render" />
</x-template>

<x-template name="x-popup">
  <details open class="parasitic_popup_simple" $props>
    <summary>
      <span class="parasitic_popup_no_css_message">This is a popup box, but CSS isn't enabled</span>
      <span class="parasitic_popup_arrow parasitic_popup_activate_button" hidden>
        <img width="32" height="32" src="$root/img/popup/left_arrow.png" />
      </span>
      <span class="parasitic_popup_arrow parasitic_popup_deactivate_button" hidden>
        <img width="32" height="32" src="$root/img/popup/right_arrow.png" />
      </span>
    </summary>
    
    $children
  </details>
</x-template>




