.art_card {
  padding-left: 20px;
}

.art_content > table {
  text-align: left;
}

/* the preview for art either img or video */
.art_preview {
  max-width: 90cqh;
  max-height: 60cqh;
  width: auto;
  height: auto;
}

#all_drawings_list details {
  border: 2px solid black;
  padding: 0.4em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

#all_drawings_list details:open > summary {
  margin-bottom: 1em;
}

.art_section {
  position: relative;
}

.art_divider {
  position: sticky;
  top: 0px;
  background-color: gray;
  border: 2px solid black;
  padding-left: 5px;
  padding-right: 5px;
}

/* Make the clickable thing be larger. for sanity of touch users */
@media (pointer: coarse) {
  #all_drawings_list details {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
  }
}


