a:link {
  color: blue;
}

a:visited {
  color: blue;
}

html {
  min-width: fit-content;
  min-height: fit-content;
  width: 100dvw;
  height: 100dvh;
}

body {
  min-width: fit-content;
  min-height: fit-content;
  margin: 0%;
  background-color: #666666;
  display: flex;
  flex-direction: column;
  
  height: 100%;
  width: 100%;
}

#error_div {
  display: none;
  white-space: pre-wrap;
  height: fit-content;
  display: none;
  width: 100%;
  padding: 5px;
  background-color: #cc0000;
}

#error_div.active {
  display: unset;
}

#page_header {
  background-color: #00000040;
}

#page_content {
  margin: 10px;
}

#page_footer {
  background-color: #00000040;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.page_divider {
  display: none;
}

* {
  image-rendering: pixelated;
}

.button_container {
  border-collapse: collapse;
}

.button_container th > a {
  display: block;
}

.button_container tr, .button_container th {
  height: 100%;
}

.button_like > table {
  width: 100%;
  height: 100%;
}

.button_like > table th {
  vertical-align: middle;
  text-align: center;
  padding: 0px;
}

.button_like {
  border: 1px solid white;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f9a147ff;
  height: 100%;
  box-sizing: border-box;
}

.button_like:active {
  background-color: #f9d1a8;
}

.button_like_disabled, .button_like_disabled:active {
  background-color: #835525ff;
}

