#content_profile_fields {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 1;
}

#content_my_profile {
  display: flex;
}

#content_my_profile > img {
  padding-right: 8px;
}

#content_profile_fields_field_names {
  padding-right: 5px;
}

#content_profile_fields_field_values {
  grid-column: 2;
}

