name: Deploy site UwU
on:
  push:
    branches: ["main"]
  workflow_dispatch:
    inputs:
      turn_on_shell_ssh:
        type: boolean
        description: 'Want to turn on SSD'
        required: false
        default: false

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # Job to build
  build:
    runs-on: ubuntu-latest
    
    # Permission for GITHUB_TOKEN
    # to allow deploy to GitHub pages
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Download Make 4.4.1
        run: |
          wget https://ftp.gnu.org/gnu/make/make-4.4.1.tar.gz
      - name: Extract Make 4.4.1
        run: |
          tar xf make-4.4.1.tar.gz
      - name: Compile Make 4.4.1
        run: |
          cd make-4.4.1
          ./configure
          make -j$(nproc)
          echo "PATH=$(pwd)/:$PATH" >> $GITHUB_ENV
      - name: Download Lua 5.4.8
        run: |
          wget https://github.com/lua/lua/archive/refs/tags/v5.4.8.tar.gz
      - name: Extract Lua 5.4.8
        run: |
          tar xf v5.4.8.tar.gz
      - name: Disable libreadline
        run: |
          cd lua-5.4.8
          cp makefile makefile.2
          cat makefile.2 | sed "s/-lreadline//g" | sed "s/-DLUA_USE_READLINE//g" > makefile
      - name: Compile Lua 5.4.8
        run: |
          cd lua-5.4.8
          make -j$(nproc)
          ln -s lua lua5.4
          echo "PATH=$(pwd)/:$PATH" >> $GITHUB_ENV
      - name: Cloning recursively
        run: |
          git submodule update --init
      - name: Applying config for GitHub pages
        run : |
          cp github-pages-config.mk local-config.mk
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.turn_on_shell_ssh }}
        with:
          limit-access-to-actor: true
      - name: Run "make all"
        run: |
          ./make-4.4.1/make -j$(nproc) all
      - name: Generate Directory Listings UwU
        uses: jayanta525/github-pages-directory-listing@v4.0.0
        with:
          FOLDER: ./output/web
      - name: Upload github pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          name: "github-pages"
          path: ./output/web
          retention-days: 31
      - name: Deploy to GitHub pages
        id: deployment
        uses: actions/deploy-pages@v4
